<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cslog" providerName="System.Data.SqlClient" connectionString="data source=DESKTOP-6QNT4MV\SQLEXPRESS; Integrated Security=SSPI; Initial Catalog=UsuariosBase"/>
    <!--<add name="cslog" connectionString="data source=brsbesqldev2014;initial catalog=DB_DSV_HORIZON_360;User ID=Horizon360;Password=Horizon@01" providerName="System.Data.SqlClient" />-->
    <!--<add name="cslog" connectionString="Data Source=BRSBESQLDEV2014;Initial Catalog=DB_DSV_FDO_VIVO_RETENCAO_MOVEL;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="cslog" connectionString="data source=sqlcli31\sqlcli31;initial catalog=DB_PRD_FDO_VIVO_RETENCAO_MOVEL;User ID =FdoVivoMovel;Password=Fdo@01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>